[tool.poetry]
name = "maicoin"
version = "0.1.0"
description = ""
authors = ["narumi <toucans-cutouts0f@icloud.com>"]

[tool.poetry.dependencies]
python = "^3.9"
websockets = "^10.2"
loguru = "^0.6.0"

[tool.poetry.group.dev.dependencies]
black = "^23.9.1"
toml = "^0.10.2"
pytest = "^7.4.2"
flake8 = "^6.1.0"
isort = "^5.12.0"
coverage = "^7.3.2"
codecov = "^2.1.13"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
